From: "X" <X@IrcDreams.org>
To: "$u" <$e>
Subject: Enregistrement de votre UserName $u

Ceci est un email automatique du robot X

Votre mot de passe est : $p

Veuillez le conserver.
Pour vous identifier tapez : /X login $u $p
Si vous voulez le changer, tapez: /X SET PASS <pass>


X, Services SDreams du réseau IrcDreams.org
