From: "X" <X@ircdreams.org>
To: "$u" <$e>
Subject: Mot de passe oublié


Votre mot de passe pour l'username $u est maintenant : $p

(Pass requis par $h)
Pour vous identifier tapez : /X login $u $p
Si vous voulez le changer, tapez: /X SET pass <pass>


--
X, Services SDreams du réseau IrcDreams.org
