From: "Z" <Z@ircube.org>
To: "$u" <$e>
Subject: Enregistrement de votre UserName $u - Registering

- English version follows -

Ceci est un email automatique du robot Z

Votre mot de passe est : $p 

Veuillez le conserver.
Pour vous identifier tapez : /Z login $u $p 

Si vous voulez le changer, tapez: /Z SET PASS <pass> <pass>
Vous devez mettre le pass voulu en double pour éviter les
fautes de frappe.

Z, Services IRC CoderZ du réseau IRCube.org

--
This is an automatic email from Z (IRC Services of IRCube Network)


You have just registered the username '$u' on IRC, the password for it is $p 

In order to identify yourself, type on IRC: /Z login $u $p 

You can change your password by using /Z set PASS <pass> <pass>

You can change the language of the services by typing: /Z SET lang <yourlanguage>

--
Z, Services IRC CoderZ of IRCube.org Network
