From: "Z" <z@ircube.org>
To: "$u" <$e>
Subject: Mot de passe oublié


Votre mot de passe pour l'username $u est maintenant : $p

(Pass requis par $h)
Pour vous identifier tapez : /Z login $u $p

Si vous voulez le changer, tapez: /Z SET pass <pass> <pass>
Vous devez mettre le pass voulu en double pour éviter les
fautes de frappe.

--
Z, Services IRC CoderZ du réseau IRCube.org
